   
  h3 {
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    gap: 15px;
  }
  
  input[type='text'],
  input[type='number'],
  input[type='email'],
  input[type='tel']
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type='submit'] {
    background-color: #db753a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type='submit']:hover {
    background-color: #45a049;
  }
  
/* Styling for the "Choose File" input */

  
  input[type="file"]:hover,
  input[type="file"]:focus {
    border-color: #aaa;
    outline: none;
  }
  
  /* Style the file upload button */
  input[type="file"]::-webkit-file-upload-button {
    padding: 10px 20px;
    background-color: #db753a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #45a049;
  }
  
  /* Adjusting the "Upload Photo" label */
  label[for="file"] {
    width: 100%;
    display: block;
    padding: 10px 0; /* Padding top and bottom */
  }
  .input-box {
    display: flex;
    gap: 15px;
}
  textarea {
    resize: vertical;
  }

  .input-style {
    width: 100% !important;
    border: 1px solid #ccc !important;
    color: #787676 !important;
    padding: 10px !important;
    border-radius: 5px !important;
}

.form-side-left {
  background-color: #005c57;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
}

.form-side-left h2 {
  font-size: 35px;
  font-family: "Fraunces", serif;
  margin-bottom:20px;
}

.upload-image{

  padding: 15px;
  border: 2px #ccc dashed;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  transition: border-color 0.3s ease;
  height: 80px;
}
.form-side-left p {
  font-size: 18px;
  margin-bottom: 13px;
}